<table class="table is-narrow">
  <thead>
    <tr><th colspan="2">Sprechzeiten der Sozialpädagogin</th></tr>
  </thead>
  <tbody>
    <tr>
      <th>Dienstag</th>
      <td class="has-text-right">10 – 12 Uhr</td>
    </tr>
    <tr>
      <th>Donnerstag</th>
      <td class="has-text-right">10 – 12 Uhr</td>
    </tr>
  </tbody>
</table>
<table class="table is-narrow">
  <thead>
    <tr><th colspan="2">Sprechzeiten der Familienhebamme</th></tr>
  </thead>
  <tbody>
    <tr>
      <th>Mittwoch</th>
      <td class="has-text-right">10 – 12 Uhr</td>
    </tr>
  </tbody>
</table>

<p>
  Du kannst während der Sprechzeiten unangemeldet vorbeikommen oder anrufen.<br>
  Weitere Termine sind nach Vereinbarung möglich.
</p>

<p class="has-text-centered notification is-info">
  <strong>Telefon: <a href="tel:+494020948222">(040) 209 48 222</a></strong>
</p>
