body {
  font-family: 'Open Sans', sans-serif;
  max-width: 1280px;
  margin: 0 auto;
}

address {
  font-style: normal;
}

dt {
  clear: left;
  float: left;
  width: 5em;
}
dt:after {
  content: ":";
}

dd {
  text-align: left;
}

.root, .footer {
  padding: 1.5rem;
}

.tile.header {
  background-color: #FFD062;
  padding: 1rem;
}
.tile.header .content {
  margin: 1em;
  font-size: x-large;
}
.tile.intro {
  padding: 1rem;
}

.directions {
  overlow: hidden;
  padding-bottom: 82%;
  position: relative;
  height: 0;
}
.directions iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
